<h4>Hello <%= @user.email.split("@").first.capitalize %></h4>

<p>
  Welcome to my app. Hope you enjoy and we will let you know if your data gets hacked. K thx!

  If anything breaks, please contact us <%= link_to "here", root_url %>
</p>
